@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

/* Slider Styles */
[class^='number-slide'],
[class*=' number-slide'] {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.navigation-wrapper {
  position: relative;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #417f56;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--right {
  left: 5px;
  transform: rotate(180deg) translateY(40%);
}

.arrow--left {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

/* Removing x mark from search input */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
